@import "tailwindcss";
@plugin "daisyui";

#root {
  background-color: #ffffff;
}
body {
  font-family: 'Inter', 'Roboto', sans-serif;
  overflow-x: hidden;
  color: #000000;
}

@keyframes fadeIn {
  from { opacity: 0; filter: blur(5px); }
  to { opacity: 1; filter: blur(0); }
}
@media (max-width:575.98px) {
  
}
